<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
 <mapper namespace="cn.tongRenCollege.dao.mapper.UserMapper">
 
 <!-- 增加 -->
 	<insert id="creatOrder" parameterType="Order" >
 		INSERT INTO `order` (`order_id`, `order_vehicle_id`, `order_user_id`, `order_price`, `order_state`, `order_startDate`, `order_stopDate`, `order_quantity`) 
 		VALUES (#{order_id}, #{order_vehicle_id}, #{order_user_id}, #{order_price}, '预订单', #{order_startDate}, #{order_stopDate},#{order_quantity});
 	</insert>
 	
 	<insert id="registerUser" parameterType="User">
 		INSERT INTO `user` (`user_id`, `user_name`, `user_phone`, `user_pwd`) VALUES (#{user_id}, #{user_name}, #{user_phone}, #{user_pwd});
 	</insert>
 	
 	
 <!-- /增加 -->
 
 
 <!-- 删除 -->
 	<delete id="deleteOrder" parameterType="String">
 		DELETE FROM `order` WHERE (`order_id`=#{arg0} and `order_user_id`=#{arg1});
 	</delete>
 
 
 <!-- /删除 -->
 
 <!-- 修改 -->
 	<update id="updataOrder" parameterType="Order" >
		UPDATE `order`
			<trim prefix="set" suffixOverrides=",">
                <if test="order_vehicle_id != null">order_vehicle_id=#{order_vehicle_id},</if>
                <if test="order_price != null and order_price > 0">order_price=#{order_price},</if>
                <if test="order_startDate != null">order_startDate=#{order_startDate},</if>
				<if test="order_quantity != null and order_quantity > 0">order_quantity=#{order_quantity},</if>
            </trim>
		WHERE (`order_id`= #{order_id} and `order_user_id` = #{order_user_id});
	</update>
 
 
 <!-- /修改 -->
 
 
 <!-- 查询 -->
 
 	<!-- 订单 -->
 	<select id="queryOrderHistory" parameterType="String" resultType="Order">
 		SELECT * FROM `order` WHERE `order_user_id`=#{user_id};
 	</select>
 	<select id="queryOrderByorder" parameterType="Order" resultType="Order">
 		SELECT * FROM `order`
 		<where>
 			`order_user_id`=#{order_user_id}
 			<if test="order_id != null ">
 				and order_id = #{order_id}
 			</if>
 			<if test="order_vehicle_id != null">
 				and order_vehicle_id = #{order_vehicle_id}
 			</if>
 			<if test="order_price != null and order_price > 0">
 				and order_price = #{order_price}
 			</if>
 			<if test="order_state != null ">
 				and order_state = #{order_state}
 			</if>
 			<if test="order_startDate != null ">
 				and order_startDate = #{order_startDate}
 			</if>
 		</where>
 	</select>
 
 	<!-- 用户 -->
 	<select id="getUser" parameterType="User" resultType="User">
 		SELECT * FROM `user` WHERE (user_id=#{user_id} and user_pwd=#{user_pwd}) 
 		OR (user_phone=#{user_phone} and user_pwd=#{user_pwd});
 	</select>
 
 
 	<!-- 车辆 -->
 	
	<select id="queryVehicleFullAll" parameterType="String" resultMap="VehicleFull">
			<include refid="cn.tongRenCollege.dao.mapper.AdmMapper.queryVehicleFullAllSql"/>
	</select>
	
	<select id="queryVehicleFullByNewNum" resultMap="cn.tongRenCollege.dao.mapper.AdmMapper.VehicleFull">
			SELECT * FROM `vehicle` v INNER JOIN `base` b ON v.vehicle_base_id=b.base_id ORDER BY v.vehicle_id DESC limit 0,${value};
	</select>
	
	<select id="queryVehicleFull" parameterType="VehicleFull" resultMap="VehicleFull" >
		SELECT * FROM `vehicle` v INNER JOIN `base` b ON v.vehicle_base_id=b.base_id
			<where>
				<if test="base != null">
					<if test="base.base_id != null and base.base_id != '' ">
						and b.base_id=#{base.base_id}
					</if>
					<if test="base.base_type != null and base.base_type != '' ">
						and b.base_type=#{base.base_type}
					</if>
					<if test="base.base_brand != null and base.base_brand != '' ">
						and b.base_brand=#{base.base_brand}
					</if>
					<if test="base.base_model != null and base.base_model != '' ">
						and b.base_model=#{base.base_model}
					</if>
					<if test="base.base_produced != null ">
						and b.base_produced=#{base.base_produced}
					</if>
					<if test="base.base_displacement != null and base.base_displacement != 0 ">
						
						<!-- 小于等于2 -->
						<if test="base.base_displacement lte 1" >
							and b.base_displacement &lt;= 2
						</if>
						<!-- 大于2 小于等于3 -->
						<if test="base.base_displacement > 1 and base.base_displacement lte 3" >
							and b.base_displacement &lt;= #{base.base_displacement} and b.base_displacement > 2
						</if>
						<!-- 大于3 小于等于5 -->
						<if test="base.base_displacement > 3 and base.base_displacement lte 5" >
							and b.base_displacement &lt;= #{base.base_displacement} and b.base_displacement > 3
						</if>
						<!-- 大于5  -->
						<if test="base.base_displacement > 5" >
							and b.base_displacement > 5
						</if>
						
						
						
						
					</if>
					<if test="base.base_speed != null and base.base_speed != 0 ">
						and b.base_speed=#{base.base_speed}
					</if>
				</if>
				
				<if test="vehicle_id != null and vehicle_id != '' ">
					and v.vehicle_id=#{vehicle_id}
				</if>
				<if test="vehicle_base_id != null and vehicle_base_id != '' ">
					and v.vehicle_base_id=#{vehicle_base_id}
				</if>
				<if test="vehicle_employee_id != null and vehicle_employee_id != '' ">
					and v.vehicle_employee_id=#{vehicle_employee_id}
				</if>
				<if test="vehicle_price != null and vehicle_price > 0">
					<!-- 小于等于200 -->
					<if test="vehicle_price lte 200 ">
						and v.vehicle_price  &lt;= #{vehicle_price}
					</if>
					<!-- 大于200 小于等于 500 -->
					<if test="vehicle_price > 200 and  vehicle_price lte 500">
						and v.vehicle_price  &lt;= #{vehicle_price} and v.vehicle_price > 200
					</if>
					<!-- 大于500 小于等于1000 -->
					<if test="vehicle_price > 500 and  vehicle_price lte 1000">
						and v.vehicle_price  &lt;= #{vehicle_price} and v.vehicle_price > 500
					</if>
					<!-- 大于1000 -->
					<if test="vehicle_price > 1000">
						and v.vehicle_price  > 1000
					</if>
					
				</if>
				<if test="vehicle_mileage != null and vehicle_mileage > 0">
					
					<!-- 小于等于1 -->
					<if test="vehicle_mileage lte 1" >
						and v.vehicle_mileage &lt;=#{vehicle_mileage}
					</if>
					<!-- 小于等于3 -->
					<if test="vehicle_mileage > 1 and vehicle_mileage lte 3" >
						and v.vehicle_mileage &lt;=#{vehicle_mileage} 
					</if>
					<!-- 小于等于5 -->
					<if test="vehicle_mileage > 3 and vehicle_mileage lte 5" >
						and v.vehicle_mileage &lt;=#{vehicle_mileage}
					</if>
					<!-- 大于5  -->
					<if test="vehicle_mileage > 5" >
						and v.vehicle_mileage > 5
					</if>
					
					
					
				</if>
				<if test="vehicle_condition != null and vehicle_condition > 0 and vehicle_condition lt 10 ">
					and v.vehicle_condition=#{vehicle_condition}
				</if>
				<if test="vehicle_state != null ">
					and v.vehicle_state=#{vehicle_state}
				</if>
			</where>
			ORDER BY vehicle_price ASC;
	</select>
	
	<select id="getVehicleFullById" parameterType="String" resultMap="VehicleFull">
		<include refid="cn.tongRenCollege.dao.mapper.AdmMapper.getVehicleFullByIdsql"/>
	</select>
	
	<resultMap type="VehicleFull" id="VehicleFull">
			<id column="vehicle_id" property="vehicle_id"/>
			<result	column="vehicle_base_id" property="vehicle_base_id"/>
			<result	column="vehicle_employee_id" property="vehicle_employee_id"/>
			<result	column="vehicle_price" property="vehicle_price"/>
			<result	column="vehicle_describe" property="vehicle_describe"/>
			<result	column="vehicle_mileage" property="vehicle_mileage"/>
			<result	column="vehicle_condition" property="vehicle_condition"/>
			<result	column="vehicle_state" property="vehicle_state"/>
			<association property="base" javaType="Base">
				<id column="base_id" property="base_id" />
				<result	column="base_photo" property="base_photo"/>
				<result	column="base_type" property="base_type"/>
				<result	column="base_brand" property="base_brand"/>
				<result	column="base_model" property="base_model"/>
				<result	column="base_produced" property="base_produced"/>
				<result	column="base_displacement" property="base_displacement"/>
				<result	column="base_speed" property="base_speed"/>
			</association>
		</resultMap>
 <!-- /查询 -->
 
 </mapper>