<!DOCTYPE html >
<html lang="zh-CN"  xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>汽车租赁系统</title>

	<script type="text/javascript">
		var ctxPath  = [[@{/}]];
	</script>


    <!-- Bootstrap -->
    <link th:href="@{/static/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css}" href="static/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
	<link th:href="@{/static/css/index.css}" href="static/css/index.css" rel="stylesheet" >
	<link th:href="@{/static/css/plugin/slideshow.css}" href="static/css/plugin/slideshow.css" rel="stylesheet" >
	
	<link th:href="@{/static/css/font-awesome.css}" href="static/css/font-awesome.css" rel="stylesheet">
	
	

    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
	<![endif]-->
	<style>
		.media_order{
			margin-bottom: 10px;
			padding: 10px;
			background-color: #ececec;
			border-radius: 5px;
			color: #777777;
		}
		@media (min-width: 700px) { 
			.media-right > img{
				width: 300px;
			}


		}
	</style>
  </head>
<body>

<div class="container">
	<div class="col-xs-12">
	
	
		<!-- 顶部导航 -->
		
		<header>
			<div style="height: 130px">
				<a id="logo"><img alt="汽车租赁" th:src="@{/static/photo/Carbrand.png}"></a>
				<div id="search-box">
					<font style="color: #e91e63">
						<span class="glyphicon glyphicon-earphone" >&emsp;157-0854-7401</span>
					</font>
					<br>
					<font style="color: #9E9E9E;">
						<span class="glyphicon glyphicon-home" >&emsp;铜仁学院,大数据,软件工程</span>
					</font><br>
					<form class="form-inline" style="margin-top: 10px">
						    <input type="text" class="form-control" id="searchinput" placeholder="搜索">
						    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
					</form>
					
				</div>
			</div>
			
			
			<nav class="navbar navbar-inverse">
				<div class="container-fluid">
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li><a th:href="@{/index.html}">首页<span class="sr-only">(current)</span></a></li>
							<li><a href="#">新闻</a></li>
							<li><a href="#">销售代表</a></li>
							<li><a href="#">联系</a></li>
						</ul>

						<ul class="nav navbar-nav navbar-right" id="nav_user_li"></ul>

					</div>
				</div>
			</nav>
			
			
		</header>
		
		
		<!-- top panel -->
		<div class="panel panel-default">
		  	<div class="panel-body" >
				<ol class="breadcrumb">
					<li><a th:href="@{/index.html}">首页</a></li>
					<li class="active">订单</li>
				</ol>	  
				<h3 class="panel-heading">我的订单</h3>

				<div th:attr="lenght=${orderStat.size}" th:each="order:${orders}">
					<div class="media media_order">
						<div class="media-body">
							<a th:href="@{/details/}+${order.vehicleFull.vehicle_id}">
								<h4 class="media-heading" th:text="${order.vehicleFull.base.base_brand}+' '+${order.vehicleFull.base.base_model}" >车辆的品牌及型号</h4>
								<h4 th:switch="${order.order_state}">
									<small th:case="'预订单'">(待取车)</small>
									<small th:case="'实订单'">(已取车)</small>
									<small th:case="'完成订单'">(已还车)</small>
								</h4>
							</a>
							<p th:text="'金额 :'+${order.order_price}+'元'">金额</p>

							<p th:text="'取车日期 :'+${#dates.format(order.order_startDate,'yyyy-MM-dd')}">取车日期</p>
							<p th:text="'还车日期 :'+${#dates.format(order.order_stopDate,'yyyy-MM-dd')}">还车日期</p>
							
							
							<p  class="text-right" th:text="'联系我们 :'+${order.employee.employee_name}+'  '+${order.employee.employee_phone}">负责人电话和姓名</p>
							<p  class="text-right" th:text="${#dates.format(order.order_id,'yyyy-MM-dd HH:mm:ss')}">订单id号下单时间</p>
								
						</div>

						<div class="media-right media-middle">
							<img width="100" class="media-object" th:src="@{/}+${order.vehicleFull.base.base_photo}" alt="...">
						</div>
					</div>
				</div>

			</div>







		</div>
		
		<!-- middel panel-->
		<div class="panel panel-default">
			<div class="container-fluid">
				<!--left panel-->
				<div class="panel-body">
					<h3 class="panel-heading">
						相关车品
						<a href="#" style="float: right;font-size: 15px;display: block;height: 26px;line-height: 26px;">更多>></a>
					</h3>
					<hr style="border-bottom: 1px solid #e4e4e4;">

						<div class="row">
							<div class="col-md-4 col-sm-6">
								<div class="thumbnail">
									<img src="static/photo/20200114031040.png" alt="null">
									<div class="caption">
										<h4>宝马 2019
											<p>
												<small>2016-8-31|1.2万公里|跑车</small>
											</p>
										</h4>
										<div class="brand_footer">
											<h4 class="price_lefttext"><span class="price_color">100</span>元/天</h4>
											<button class="btn btn-success">下单</button>
											<button class="btn btn-info">详情</button>
										</div>
									</div>
								</div>
								
							</div>


							<div class="col-md-4 col-sm-6">
								<div class="thumbnail">
									<img src="static/photo/20200114031040.png" alt="null">
									<div class="caption">
										<h4>宝马 2019
											<p>
												<small>2016-8-31|1.2万公里|跑车</small>
											</p>
										</h4>
										<div class="brand_footer">
											<h4 class="price_lefttext"><span class="price_color">100</span>元/天</h4>
											<button class="btn btn-success">下单</button>
											<button class="btn btn-info">详情</button>
										</div>
									</div>
								</div>
								
							</div>

							<div class="col-md-4 col-sm-6">
								<div class="thumbnail">
									<img src="static/photo/20200114031040.png" alt="null">
									<div class="caption">
										<h4>宝马 2019
											<p>
												<small>2016-8-31|1.2万公里|跑车</small>
											</p>
										</h4>
										<div class="brand_footer">
											<h4 class="price_lefttext"><span class="price_color">100</span>元/天</h4>
											<button class="btn btn-success">下单</button>
											<button class="btn btn-info">详情</button>
										</div>
									</div>
								</div>
								
							</div>

						</div>


				</div>

				
			</div>
		</div>


		

		
		<!-- 底部 -->
		<footer class="coustom_footer container-fluid">
			<div class="col-md-4 col-sm-6" >
				<div class="footer_title">
					<h3>关于我们</h3>
					<hr>
				</div>
				<div class="footer_text">
					<p>
						李志强(LiZhiQiang),铜仁学院2016届学生,属软件工程专业
					</p>
					<p>
						本网站提供汽车租赁服务,本团队仅负责平台搭建,一切纠纷与本团队无关
					</p>
				</div>
			</div>
			
			<div class="col-md-4 col-sm-6" >
				<div class="footer_title">
					<h3>营业时间</h3>
					<hr>
				</div>
				<div class="footer_text">
					
					<div>
						<span class="light">周一至周五</span>
						<span class="right">上午9点至下午5点</span>
						<hr>
						<span class="light">周末</span>
						<span class="right">上午8点至晚上9点</span>
						<hr>
					</div>

				</div>
			</div>

			<div class="col-md-4 col-sm-6" >
				<div class="footer_title">
					<h3>联系我们</h3>
					<hr>
				</div>
				<div class="footer_text">
					<div>
						<span class="light glyphicon glyphicon-home"></span>
						<span class="right">贵州省 铜仁市碧江区 铜仁学院</span>
						<hr>
						<span class="light glyphicon glyphicon-earphone"></span>
						<span class="right">李志强(店长): 157-0854-7401</span>
						<hr>
					</div>

				</div>
			</div>



			<div class="col-xs-12 footer_line">
				<hr>
				声明：本网站的车辆信息、检测报告、视频、图片等内容均来源与网络，
				不保证信息的真实信.
			</div>

		</footer>
		
		<input type="hidden" th:value="${vehicle}" id="staff_name2"/>

	</div>
</div>
<script type="text/javascript" th:src="@{/static/lib/jquery.min.js}" src="static/lib/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/static/js/index.js}"></script>
<script type="text/javascript">



</script>
</body>
</html>